.loginicon {
  /* position: absolute; */
  width: 80px;
  text-decoration: none;
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  font-weight: bolder;
  color: black;
  height: 40px;
  /* left: 85%; */
  /* top: 10px; */
  background: #2bc6ff;
  border-radius: 24px;
  cursor: pointer;
}

.login {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../static/register_bg_2.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.loginicon:hover {
  color: white;
}

.login-form {
  height: 0;
  width: 50vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  position: absolute;
  left: -500px;
  top: -500px;
  opacity: 0;
}

.login-form.active {
  transition: 800ms;
  left: 750px;
  top: 350px;

  opacity: 1;
}

.form-box {
  opacity: 90%;
  padding-right: 80px;
  padding-left: 80px;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-top: 20px;
  border-radius: 5px;

}

.login-text {
  width: 100%;
  color: black;
  line-height: 30px;
  width: 100%;
  font-weight: bolder;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
}

.form-box {
  border: 0;
  background-color: rgb(228, 231, 235);
  width: 20rem;
  display: flex;
  justify-content: center;
}

label {
  color: black;
  font-weight: 600;
}

.login-box {
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  transition: 1s;
  outline: none;
  color: black;
  width: 16rem;
  height: 3rem;
  background-color: white;
  padding-left: 10px;
  border: none;
}

.login-btn {
  justify-content: center;
  align-items: center;
  background-color: rgb(17, 24, 39);
  color: white;
  border: none;
  font-size: 15pt;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 3px;
  width: 16rem;
}

.login-checkbox {
  display: flex;
  align-items: center;
  margin: 10px;
  background-color: rgb(255, 255, 255);
}

.login-successful {
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
}

.login-successful-text {
  font-size: 30px;
  margin-left: 20px;
}